@blue: #17B6FF;
@darkBlue: #22313F;
@lime: #B6FF17;
@grey: #636f61;

.horizontallyCentered {
	margin-left: auto;
	margin-right: auto;
}

.removeMargins {
	margin:0;
	padding:0;
}

// GLOBAL /////////////////////////////////////////////////////////////////////////////////

html, body {
	height: 100%;
	width: 100%;
	.removeMargins;
}

body {
	background-color: @blue;
}

// CENTRAL /////////////////////////////////////////////////////////////////////////////////

main {
	margin-top: 1%;
	.horizontallyCentered;
}

#plateau {
	background-color: @darkBlue;
	border-radius: 10px;
	margin-bottom: 1%;
	margin-top: 1%;
	max-width: 71%;
	.horizontallyCentered;
}

.playerLabel {
	background-color: @lime;
	margin: 0 auto;
	padding: 5px;
	border-radius: 10px;
	max-width: 70%
}

// GRILLE /////////////////////////////////////////////////////////////////////////////////

#grid {
	.horizontallyCentered;

	td {
		.removeMargins;

		img {
			width: 100%;
			height: 100%;
			.horizontallyCentered;
			border-radius: 50%;
		}
	}
}

table {
	border-collapse: collapse;
	table-layout:fixed;
}

.blanche {
	background-color: white;
}

.noire {
	background-color: @grey;
}