@blue: #17B6FF; 
@magenta: #FF17B6; 
@lime: #B6FF17; 
@green: #1BFF17; 


/////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
	background-color:@blue;
}

main {
	background-color:@lime;
	width: 80%;
	height: 50%;
}


/////////////////////////////////////////////////////////////////////////////////////



img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

table {
	border: solid black 5px;
	border-collapse: collapse;
}
td {
	width: 75px;
	height: 75px;
	text-align: center;
}