@blue: #17B6FF; 
@magenta: #FF17B6; 
@lime: #B6FF17; 
@green: #1BFF17; 


/////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
	background-color:@blue;
}

#header {
	background-color:@green;
}

main {
	margin-left: auto;
	margin-right: auto;
}

#plateau {
	background-color: #22313F;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	max-width: 50%
}

#grid {
	margin: 0 auto;
	max-width: 40%
}

.playerLabel {
	height: 10%;
	background-color:@lime;
	margin: 0 auto;
	padding: 5px;
	border-radius: 10px;
	max-width: 50%
}

/////////////////////////////////////////////////////////////////////////////////////

img {
	width: 75px;
	height: 70px;
	border-radius: 50%;
	margin:0;
	padding:0;
}

table {
	border: solid black 5px;
	border-collapse: collapse;
	table-layout:fixed;
}
td {
	width: 75px;
	height: 75px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.blanche {
	background-color: white;
}

.noire {
	background-color: #737f81;
}